/*
 * General
 */

@font-face {
  font-family: simplifica;
  src: url("../fonts/SIMPLIFICA%20Typeface.ttf");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: simplifica, sans-serif;
  color: #BBBDC0;
  margin-top: 30px;
  background-color: #262423;
  background-color: #1b1817;
  padding-bottom: 30px;
}

@media only screen and (min-width: 800px) {
  body { margin-top: 60px; }
}

a {
  color: inherit;
  text-decoration: none;
  -o-transition: 200ms;
  transition: 200ms;
  -o-transition-timing-function: ease-in-out;
     transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

a:hover {
  color: white;
}

/*
 * Utilities
 */

.u-margin-top {
  margin-top: 20px;
}

.u-margin-left {
  margin-left: 20px;
}

.u-margin-right {
  margin-right: 20px;
}

.u-hide { display: none; }

/*
 * Layout
 */

.l-content {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.l-row {
  margin: 0 -5px;
}

.l-col-12-s {
  display: inline-block;
  width: 100%;
}

.l-col-4-m {
  display: inline-block;
  padding: 0 5px;
}

.l-col-8-m {
  display: inline-block;
  padding: 0 5px;
}

@media only screen and (min-width: 800px) {
  .l-content {
    padding: 40px;
  }

  .l-col-4-m {
    width: 33%;
  }

  .l-col-8-m {
    width: 66%;
  }
}

/*
 * Modules
 */

.header-name {
  min-height: 130px;
  background-image: url("../img/header_name.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.nav {
  padding: 30px;
  text-align: center;
  font-size: 2em;
  color: #BBBDC0;
}

.nav-item:hover { color: white; }

.hero {
  min-height: 300px;
  background-image: url("../img/hero_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (min-width: 300px) { .hero { min-height: 400px; } }
@media only screen and (min-width: 500px) { .hero { min-height: 600px; } }

.section-title {
  max-width: 600px;
  font-size: 2em;
  padding: 20px 0 15px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/section_separator.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.release {
  text-align: center;
  margin-top: 20px;
}

.release__image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-width: 200px;
  min-height: 200px;
}

.release__info {
  color: #ddd;
  padding-top: 20px;
}

.release__artist,
.release__title {
  font-size: 2em;
}

.release__label,
.release__album {
  font-family: 'Montserrat', sans-serif;
}

.release__label {
  font-weight: bold;
}

.release__album {
  font-style: italic;
}

@media only screen and (min-width: 800px) {
  .release {
    font-size: 1.4em;
    text-align: left;
  }
  .release__image-wrapper {
    border-right: 2px solid white;
    padding: 10px 60px 10px 0;
  }

  .release__info {
    padding-left: 60px;
    padding-top: 0;
  }
}

.icon svg {
  width: 30px;
}

.icon--beatport svg {
  width: 80px;
}

.social-link {
  cursor: pointer;
  margin-right: 10px;
}

.social-link:hover svg path {
  fill: white !important;
}

.social-link svg path {
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  -o-transition-timing-function: ease-in-out;
     transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.contact {
  font-size: 1.4em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact__email {
  padding: 20px;
}
